<!DOCTYPE html>
<html lang="zxx">
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Jenitha</title>
  <!-- Description-->
  <meta name="description" content="Jenitha personal portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-nightskyblue.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      
      <img class="img-fluid-logo" src="img/logo2.png" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Awards</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog">Hobbies</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/resume.gif)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center intro-animate">
        <div class="col-12 col-lg-8 home-content text-center context text-center " >
         
          <h1 class="home-name">&lt; /Jenitha  <span class="type" style="--n:53">J &gt;</span></h1>
          <h5 class="cd-headline clip home-headline animate-charcter-intro">Learn by Doing! <span class="type" style="--n:53">Grow by Learning!</span></h5>
          <h4 class="cd-headline clip home-headline animate-charcter-intro">Hi, I’m a <span class="cd-words-wrapper single-headline type"><b class="is-visible type">Frontend Developer!  </b><b class="type"  style="--n:53">Designer! </b><b class="type"  style="--n:53">Quantum Enthusiast! </b><b class="type"  style="--n:53">Artist(pencil portrait)!  <i class="fas fa-portrait"></i></b></span></h4>
          
        </div>
        
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Languages list-->      
      <!-- Social media icons-->
      
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper element-cover-bg" id="about" data-simplebar style="background-image:url(img/about.gif)">
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/info-img-test.gif" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title cd-headline animate-charcter">I'm Jenitha J, <span class="cd-words-wrapper single-headline type" style="--n:53"><b class="is-visible">a passionate Frontend Developer</b></span></h6>
                    <div class="content-description">
                      <p class="animate-charcter">I'm
                        currently working at Deutsche Bank as Senior analyst with hands on experience in
                        JavaScript, React JS, HTML5, CSS, Bootstrap, Java and Spring Boot. I have built a
                        responsive UI using React from scratch which is already in production. I also have a hands on
                        experience in deploying the web application via Team City. As a team we have followed the
                        agile ways of working and I have knowledge on agile as well. 
                        Recently I was awarded as 'Woman of the Month' by Deutsche Bank for my contribution to
                        the project and for being role model to others.
                        Apart from this I strongly believe that it's not only the technical skills which provides us the
                        growth but also the interpersonal skills which helps the person to achieve what they need.
                        During my college, I served as a Secretary in IETE Students' chapter which helped me to
                        understand about the collaboration, adaptability, team work, pressure handling and many
                        more.
                        "A passion builts up the profession" and my hobbies includes pencil sketching, drawing,
                        painting, calligraphy, creative sketching, poster designing and I can easily relate my hobbies
                        to the UI development (Css styling, designing etc .)</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Jenitha J</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:jenithajustin11@gmail.com">jenithajustin11@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>23</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Coimbatore, TamilNadu, India</p>
                        </div>
                      </div>
                    </address>                   
                    <div class="d-block d-sm-flex align-items-center">
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://twitter.com/JenithaJustin"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/jenitha_justin/"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jenitha-justin-2108651a7/"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/JenithaJustin1199/"><i class="icon ion-logo-github"></i></a></li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
    </div>
            <!-- Services section-->
            <div class="services-section single-section">
              
              <div class="row">
                <!-- Single service-->
                
                <!-- Single service-->
                
                <!-- Single service-->
                
                <!-- Single service-->
                
                <!-- Single service-->
               
              </div>
            </div>
            <!-- Testimonials section-->
            <div class="testimonials-section single-section">
              
              <div class="my-slider">
                
                
               
              </div>
            </div>
            <!-- Pricing section-->
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper element-cover-bg" id="resume" data-simplebar style="background-image:url(img/home2.jpg)">
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Resume</p>
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Education</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Electronics and Communication</h5><span class="item-details">PSG College of Technology</span>
                      <p class="item-description">CGPA - 9.03/10</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">HSC-2017</h5><span class="item-details">RG Matric Higher Secondary School</span>
                      <p class="item-description">Secured 97% in SSLC Examination</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">SSLC-2015</h5><span class="item-details">RG Matric Higher Secondary School</span>
                      <p class="item-description">Secured 97% in SSLC Examination</p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Senior Technology Analyst</h5><span class="item-details">Deutsche Bank / 2022 - present</span>
                      <p class="item-description">• Developed standard and ad-hoc reports in graph format as required • Introduced Authentication/Authorization to the web application• Collaborated with product/business team members to implement feature developments.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Graduate Analyst</h5><span class="item-details">Deutsche Bank / 2022 - 2023</span>
                      <p class="item-description">• Implemented full stack web application and landing pages from concept through deployment • Standardized all output with a new, responsive web designs</p>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">My level of knowledge in some tools</p>
                    <h2 class="section-title">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">HTML/CSS</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">React JS</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">JavaScript</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">Data Structures</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">CSS</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">python</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">OOPS</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="85">
                    <div class="skill-info"><span class="skill-name">C++</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">C</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--project-->
            <div class="resume-section single-section">
              <div class="row">
            <div class="col-12 col-md-6">
              <div class="col-block project">
                <h3 class="col-title">Projects</h3>
                <div class="resume-item"><span class="item-arrow"></span>
                  <h5 class="item-title">SECURED FILE SHARING APP</h5><span class="item-details">JAVASCRIPT,HTML,CSS</span>
                  <p class="item-description">• It is a simple user friendly app which enables the user to transfer the files in a
                    secured way • User can send the file in encrypted format and the client can decrypt the file using
                    their client Id and Private key</p>
                </div>
                <div class="resume-item"><span class="item-arrow"></span>
                  <h5 class="item-title">IMPLEMENTATION AND SIMULATION OF QUANTUM ALGORITHMS</h5><span class="item-details">Quantum computing, IBMQ</span>
                  <p class="item-description">• This project aims on verifying the quantum algorithms with the use of quantum
                    gates.• This project explains the functionality of quantum algorithms with the help of
                    probabilities measurement and state vector representation.</p>
                </div>                
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="col-block experience">
                <h3 class="col-title">Research</h3>
                <div class="resume-item"><span class="item-arrow"></span>
                  <h5 class="item-title">QUANTUM IMPLEMENTATION OF CRYPTOGRAPGIC ALGORITHMS</h5><span class="item-details">Quantum Computing, cryptographic algorithms</span>
                  <p class="item-description">Worked with my professor Dr.P.Saravanan to implement the classical cryptographic
                    algorithms using quantum gates in order to prove that the Grover’s quantum algorithm
                    can break all the classical cryptographic algorithms.</p>
                </div>                                 
              </div>
            </div>
            </div>
            </div>
            <!-- Video section-->
            <div class="video-section single-section">
              
                <div class="col-12 col-lg-6 content-part">
                  <h3 class="video-title">Featured as "Woman of the Month" by Deutsche Bank</h3>                  
                </div>
                <div class="single-item col-12 col-lg-12 design"><a class="portfolio-item" href="img/WOM.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/WOM.jpg">                    
                  </div>
                </a></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper element-cover-bg" id="portfolio" data-simplebar style="background-image:url(img/awards.jpg)">
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Showcasing some of my acheivements</p>
                  <h2 class="section-title">Awards and Acheivements</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">
                  <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                    <li class="list-inline-item" data-filter=".technical">Technical</li>
                    <li class="list-inline-item" data-filter=".nonTechnical">Non-Technical</li>  
                    <li class="list-inline-item" data-filter=".management">Management</li>                  
                  </ul>
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-4.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-4.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Infotra is a technical symposium conducted by Coimbatore Institute of Technology. I participated in a technical event and secured 1St prize.</h6>
                    </div>
                  </div>
                </a></div>
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Infotra is a technical symposium conducted by Coimbatore Institute of Technology</h6>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/item-2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Cryptera is a national symposium conducted by Coimbatore Institute of Technology. I participated in Non Technical events.</h6>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/item-3.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-3.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Chart Fest is a creative art competition based on themes conducted of ELS association ogf PSG Tech</h6>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-5.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Secured 3rd prize in the event HERTZ conducted by ECE Association of PSG Tech</h6>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-6.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-6.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Convened the National level symposium Srishti by IEEE Students' Chapter(PSG Tech)</h6>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-7.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-7.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Served as Student's executive of IETE Students' Chapter, PSG Tech</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-8.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-8.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Core member of IETE Students' Chapter</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->                
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-9.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-9.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Convened the event called Neologic, in the symposium called KRIYA, by PSG Tech</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/item-10.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-10.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Secured 1st Prize in the non technical event KAHOOTZ, conducted by CIT</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-11.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-11.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Secured best paper award for our proposed theory in Infotra, technical Symposium by CIT</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-12.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-12.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Completed the course on VErilog, NPTEL</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/item-13.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-13.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Completed the course on IOT, NPTEL</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->                
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/item-15.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-15.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Secured 2nd Prize in the non-technical event, Scavanger Hunt by INFOTRA, CIT</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-16.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-16.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Systemized 3 days hands-on-workshop on Networks, IETE Students' Chapter, PSG Tech</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/item-17.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-17.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Volunteered in the technical event TECHNOTRONZ by IEYE Students' Chapter, PSG Tech</h6>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-5 technical"><a class="portfolio-item" href="img/item-18.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-18.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Completed the course on Python and Flask by Udemy</h6>
                    </div>
                  </div>
                </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper element-cover-bg" id="blog" data-simplebar style="background-image:url(img/hobbies.jpg)">
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out some of my Paintings!</p>
                  <h2 class="section-title">My Art</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/hob-1.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-1.jpg">
                    
                  </div>
                </a></div>
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/hob-2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-2.jpg">
                      
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/hob-3.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-3.jpg">
                      
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/hob-4.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-4.jpg">
                      
                    </div>
                  </a></div>
                <!-- Single item-->
                
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/hob-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-5.jpg">
                      
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/hob-6.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-6.jpg">
                      
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/hob-7.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-7.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/hob-8.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-8.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->                
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 management"><a class="portfolio-item" href="img/hob-9.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-9.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 nonTechnical"><a class="portfolio-item" href="img/hob-10.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-10.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/hob-11.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-11.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 technical"><a class="portfolio-item" href="img/hob-12.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/hob-12.jpg">
                    
                  </div>
                </a></div>
                <!-- Single item-->                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper element-cover-bg" id="contact" data-simplebar style="background-image:url(img/contact.gif)">
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Feel free to contact me !</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              
                <!-- Contact form-->
                
                <!-- Contact info-->
                <div class="h-100 d-flex align-items-center justify-content-center">            

                  
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description"></p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Jenitha J</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Coimbatore, Tamil Nadu</span>
                          </div>
                        </div>
                      </li>
                      
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:jenithajustin11@gmail.com">jenithajustin11@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->
  <div class="demo-tool">
    <div class="tool-wrapper">
      <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
      <div class="tool-box">
        <ul class="list-inline single-block color-switcher">
          <li class="list-inline-item" style="background-color: #2c31ff;" data-path="css/colors/main-blueviolet.css"></li>
          <li class="list-inline-item" style="background-color: #3460D1;" data-path="css/colors/main-nightskyblue.css"></li>
          <li class="list-inline-item" style="background-color: #EE3158;" data-path="css/colors/main-redpink.css"></li>
          <li class="list-inline-item" style="background-color: #007bff;" data-path="css/colors/main-blue.css"></li>
          <li class="list-inline-item" style="background-color: #17a2b8;" data-path="css/colors/main-cyan.css"></li>
          <li class="list-inline-item" style="background-color: #3365b0;" data-path="css/colors/main-darkblue.css"></li>
          <li class="list-inline-item" style="background-color: #a435b7;" data-path="css/colors/main-darkmagenta.css"></li>
          <li class="list-inline-item" style="background-color: #c93e70;" data-path="css/colors/main-darkpink.css"></li>
          <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="css/colors/main-darkred.css"></li>
          <li class="list-inline-item" style="background-color: #28a745;" data-path="css/colors/main-green.css"></li>
          <li class="list-inline-item" style="background-color: #6610f2;" data-path="css/colors/main-indigo.css"></li>
          <li class="list-inline-item" style="background-color: #fd7e14;" data-path="css/colors/main-orange.css"></li>
          <li class="list-inline-item" style="background-color: #e83e8c;" data-path="css/colors/main-pink.css"></li>
          <li class="list-inline-item" style="background-color: #6f42c1;" data-path="css/colors/main-purple.css"></li>
          <li class="list-inline-item" style="background-color: #dc3545;" data-path="css/colors/main-red.css"></li>
          <li class="list-inline-item" style="background-color: #20c997;" data-path="css/colors/main-teal.css"></li>
          <li class="list-inline-item" style="background-color: #333;" data-path="css/colors/main-dark.css"></li>
          <li class="list-inline-item" style="background-color: #78b230;" data-path="css/colors/main-yellowgreen.css"></li>
          <li class="list-inline-item" style="background-color: #E16F7C;" data-path="css/colors/main-tangopink.css"></li>
          <li class="list-inline-item" style="background-color: #6F73D2;" data-path="css/colors/main-moodyblue.css"></li>
          <li class="list-inline-item" style="background-color: #664C43;" data-path="css/colors/main-brown.css"></li>
          <li class="list-inline-item" style="background-color: #4770D9;" data-path="css/colors/main-royalblue.css"></li>
          <li class="list-inline-item" style="background-color: #ffb100;" data-path="css/colors/main-darkyellow.css"></li>
        </ul>
        
      </div>
    </div>
  </div>
  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>

</html>